<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Tonga's Shine Detailing</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
  <link rel="shortcut icon" href="images/logo-tonga.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navbar -->

    <%- include('partials/navbar') %>

    <!-- end Navbar-->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="sub-title">ACERCA DE NOSOTROS</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top"><span>Tonga's Shine Detailing</span></h2>
                    <p>Somos una empresa dedicada a la estética vehicular con más de 10 años de experiencia en el rubro. Estamos en constante perfeccionamiento para brindarles la mejor atención y resultados de excelencia. Tratamos cada vehículo con la dedicación y el profesionalismo que nos caracteriza. Brindamos una solución óptima a cada necesidad haciendo que tu vehículo luzca como un verdadero showcar.</p>
                    <p>Contamos con gran variedad de servicios y ofrecemos capacitaciones para las personas que quieran aprender de este oficio. Nos encontramos en Los Troncos del Talar (Tigre). </p>
                    <a class="btn hvr-hover" href="/services">Ver servicios...</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>SOMOS CONFIABLES</h3>
                        <p> Sabemos lo importante que es tu vehículo y tu tiempo, por eso estamos comprometidos a brindarte el mejor servicio en los plazos acordados.  </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>SOMOS PROFESIONALES</h3>
                        <p> La utilización de productos y herramientas de primeras marcas, así como los procedimientos que realizamos, marcan la diferencia a la hora de elegirnos.   </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>SOMOS EXPERTOS</h3>
                        <p> Contamos con certificaciones a nivel nacional e internacional que nos avalan como expertos en la materia. </p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Nuestro equipo</h2>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/tonga1.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Gastón Alfonso</h3> <span class="post">Detailer profesional - Propietario </span>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/tongalfonso/?hl=es-la" class="fab fa-instagram"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p> Director de operaciones de Fidtail en Argentina, máster detailing Fidtail, técnico de la marca Vonixx, director de Detail Skull Argentina. Cuenta con certificaciones de la casa matriz de Koch Chemie (Alemania), Vonixx (Brasil), Fidtail (México), Autogeek (U.S.A). </p>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <!-- Start Instagram Feed  -->
  <%- include('partials/ig-feed') %>
  <!-- End Instagram Feed  -->


  <!-- Start Footer  -->

  <%- include('partials/footer') %>

  <!-- End Footer  -->

  <!-- Start copyright  -->
  <%- include('partials/copyright') %>
  <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>