<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Tonga's Shine Detailing</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/logo-tonga.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navbar -->

    <%- include('partials/navbar') %>

    <!-- end Navbar-->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>CONTACTO</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row" style="
            background-color: ghostwhite;
        ">
                <div class="col-lg-6 col-sm-12">
                    <div class="google-maps">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=lisandro%20de%20la%20torre%20228%20troncos%20del%20talar+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                        <a href='https://www.symptoma.es/es/info/covid-19'>Google Maps</a>
                        <script type='text/javascript'
                            src='https://embedmaps.com/google-maps-authorization/script.js?id=c840369a2380b41086337b33a93659fa7f6a2d81'></script>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="contact-info-left">
                        <h2>INFORMACIÓN DE CONTACTO</h2>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Dirección: Lisandro de la Torre 228 <br>Los
                                    Troncos del
                                    Talar,<br>
                                    Buenos Aires </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Teléfono: <a href="tel:+54 9 11 3052-4200">+54 9
                                        11
                                        3052-4200</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a
                                        href="mailto:tongashine@gmail.com">tongashine@gmail.com</a></p>
                            </li>
                            <li>
                                <p><i class="fab fa-instagram"></i>Instagram: <a
                                        href="https://www.instagram.com/tongashinedetailing/?hl=es-la">@Tongashinedetailing
                                    </a></p>
                            </li>
                            <li>
                                <p><i class="fab fa-facebook"></i>Facebook: <a href="https://www.facebook.com/TongasShineDetailing/">Tonga's Shine Detailing</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->

    <!-- Start Instagram Feed  -->
    <%- include('partials/ig-feed') %>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <%- include('partials/footer') %>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <%- include('partials/copyright') %>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>