<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Tonga's Shine Detailing</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/logo-tonga.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navbar -->

    <%- include('partials/navbar') %>

    <!-- end Navbar-->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="sub-title">GALERÍA</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Gallery  -->

    <div class="products-box">
        <div class="container">
            <div class="row special-list">
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/toyoweb.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/toyoweb(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/toyoweb(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/carreraweb.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/carreraweb(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/carreraweb(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/mustaweb.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/mustaweb(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/mustaweb(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/corvttweb.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/corvttweb(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/corvttweb(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/m5web.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/m5web(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/m5web(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/roccoweb.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/roccoweb(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/roccoweb(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/170web.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/170web(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/170web(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/306web.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/306web(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/306web(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/911web.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/911web(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/911web(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/audiweb.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/audiweb(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/audiweb(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/z3web.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/z3web(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/z3web(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/optiweb(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/optiweb(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/optiweb.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/307web(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/307web.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/307web(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/motorweb(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/motorweb.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/motorweb(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/interiorweb.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/interiorweb(1).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="images/gallery/interiorweb(2).jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                <!-- -----------------------------------------------------------------------------------------------------------------------------------------------  -->
            </div>
        </div>
    </div>


    <!-- End Gallery  -->

    <!-- Start Instagram Feed  -->
    <%- include('partials/ig-feed') %>
    <!-- End Instagram Feed  -->

    <!-- Start Footer  -->
    <%- include('partials/footer') %>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <%- include('partials/copyright') %>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>