<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Tonga's Shine Detailing</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/logo-tonga.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navbar -->

    <%- include('partials/navbar') %>

    <!-- end Navbar-->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="sub-title">SERVICIOS</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">

                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/generic4.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Paquete SILVER </h5>
                                                    <h4>Este paquete incluye: <ul>
                                                            <li>• Lavado y descontaminado</li>
                                                            <li>• Pulido en 2 etapas</li>
                                                            <li>• Sellado híbrido (7 meses de protección)</li>
                                                            <li>• Acondicionamiento de partes plásticas y neumáticos
                                                            </li>
                                                            <li>• Interior básico</li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/generic1.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Paquete GOLD </h5>
                                                    <h4>Este paquete incluye: <ul>
                                                            <li>• Lavado y descontaminado</li>
                                                            <li>• Corrección FULL laca</li>
                                                            <li>• Sellado cerámico (24 meses de protección)</li>
                                                            <li>• Acondicionamiento de partes plásticas y neumáticos
                                                            </li>
                                                            <li>• Interior básico</li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/generic3.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Paquete DIAMOND </h5>
                                                    <h4>Este paquete incluye: <ul>
                                                            <li>• Lavado y descontaminado</li>
                                                            <li>• Corrección FULL laca</li>
                                                            <li>• Sellado cerámico (24 meses de protección)</li>
                                                            <li>• Acondicionamiento de partes plásticas y neumáticos
                                                            </li>
                                                            <li>• Interior básico</li>
                                                            <li>• Limpieza de pasa ruedas</li>
                                                            <li>• Detallado de motor</li>
                                                            <li>• Descontaminado y sellado de llantas</li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/interior1.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Detallado de interior </h5>
                                                    <h4>Incluye:<ul>
                                                            <li>• Limpieza de butacas y alfombras</li>
                                                            <li>• Paneles de puertas</li>
                                                            <li>• Tablero y techo</li>
                                                            <li>• Acondicionado</li>
                                                            <li>Se utilizan máquinas de inyección-extracción y vapor
                                                                saturado.</li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/generic5.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Abrillantado PREMIUM </h5>
                                                    <h4>Incluye:<ul>
                                                            <li>• Lavado y descontaminado </li>
                                                            <li>• Abrillantado en un solo paso</li>
                                                            <li>• Sellado con cera de carnauba</li>
                                                            <li>• Acondicionado de partes plásticas y neumáticos</li>
                                                            <li>Ideal para preparación de vehículo para la venta.</li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/optica2.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Restaurado de ópticas </h5>
                                                    <h4>Incluye:<ul>
                                                            <li>• Lijado por granulometría </li>
                                                            <li>• Pulido en 3 pasos</li>
                                                            <li>• Sellado con coating cerámico</li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/motor1.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Detallado de motor </h5>
                                                    <h4>Incluye:<ul>
                                                            <li>• Limpieza con vapor saturado </li>
                                                            <li>• Acondicionado de partes plásticas y mangueras</li>
                                                            <li>No se realizan limpiezas de motores que tengan pérdidas
                                                                de aceite o suciedad extrema.</li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/lavado1.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Lavado PREMIUM </h5>
                                                    <h4>Incluye:<ul>
                                                            <li>• Limpieza de llantas con descontaminante férrico </li>
                                                            <li>• Lavado de carrocería con técnica de dos baldes</li>
                                                            <li>• Encerado PREMIUM (Blend Vonixx)</li>
                                                            <li>• Sellado de llantas y neumáticos</li>
                                                            <li>• Interior básico</li>
                                                            <li>• Acondicionado de interior</li>
                                                            <br>
                                                            <li>Este servicio se realiza sólo a vehículos tratados por
                                                                nosotros</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/ploteo.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Ploteo vehicular </h5>
                                                    <h4>Incluye:<ul>
                                                            <li>• Desarmado de manijas, insignias, colisas, etc </li>
                                                            <li>• Descontaminado de carrocería </li>
                                                            <li>• Vinilo Alltak PREMIUM </li>
                                                            <li>• Protección de vinilo (SIO2 PRO)</li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/bollo.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Desabollado artesanal </h5>
                                                    <h4>Incluye:<ul>
                                                            <li>• Desabollado artesanal sin dañar la pintura </li>
                                                            <li>• Desarmado de piezas </li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/polarizado.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Polarizado </h5>
                                                    <h4>Incluye:<ul>
                                                            <li>• Materiales de primera calidad </li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="images/laminado-seguridad.jpg" class="img-fluid"
                                                        alt="Image">
                                                    <div class="mask-icon">

                                                        <a class="cart" href="https://wa.me/5491130524200">Cotizar</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h5 style="margin-bottom: 10px;"> Laminado de seguridad </h5>
                                                    <h4>Incluye:<ul>
                                                            <li>• Materiales de primera calidad </li>
                                                            <br>
                                                            <li>Los trabajos se realizan con previa evaluación.</li>
                                                        </ul>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    <!-- Start Instagram Feed  -->
    <%- include('partials/ig-feed') %>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <%- include('partials/footer') %>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <%- include('partials/copyright') %>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>