<div class="footer-copyright">
    <p class="footer-company">Todos los derechos reservados &copy; 2020 <a href="#">Tonga's Shine Detailing</a> |
      Desarrollado por :
      <a href="https://html.design/">AEM desarrollo web</a></p>
  </div>