<footer>
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="footer-top-box">
              <h3>Horarios de atención</h3>
              <ul class="list-time">
                <li>Lunes - Viernes: 8.30hs a 18.00hs</li>
                <li>Sábados: 9.00hs a 14:00hs</li>
                <li>Domingos: <span>Cerrado</span></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="footer-top-box">
              <h3>Redes sociales</h3>
              <p>¡Seguinos en las redes!</p>
              <ul>
                <li><a href="https://www.facebook.com/TongasShineDetailing/"><i class="fab fa-facebook"
                      aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/tongashinedetailing/?hl=es-la"><i class="fab fa-instagram"
                      aria-hidden="true"></i></a></li>
                <li><a href="https://wa.me/5491130524200"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCMRXrKCCGOgPRqIIvl0yiIQ"><i class="fab fa-youtube"
                      aria-hidden="true"></i></a></li>

              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="footer-widget">
              <h4>Acerca de Tonga's Shine Detailing</h4>
              <p>Somos una empresa dedicada a la estética vehicular con más de 10 años de experiencia en el rubro.
                Estamos en constante perfeccionamiento para brindarles la mejor atención y resultados de excelencia.</p>
                <a href="/about"><p>Ver más...</p></a>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="footer-link-contact">
              <h4>Contacto</h4>
              <ul>
                <li>
                  <p><i class="fas fa-map-marker-alt"></i>Dirección: Lisandro de la Torre 228 <br>Los Troncos del
                    Talar,<br>
                    Buenos Aires </p>
                </li>
                <li>
                  <p><i class="fas fa-phone-square"></i>Teléfono: <a href="tel:+54 9 11 3052-4200">+54 9 11
                      3052-4200</a></p>
                </li>
                <li>
                  <p><i class="fas fa-envelope"></i>Email: <a
                      href="mailto:tongashine@gmail.com">tongashine@gmail.com</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>