<div class="instagram-box">
  <div class="main-instagram owl-carousel owl-theme">
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel1.jpg" alt="" />
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel2.jpg" alt="" />
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel3.jpg" alt="" />
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel4.jpg" alt="" />
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel5.jpg" alt="" />
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel6.jpg" alt="" />
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel7.jpg" alt="" />
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel8.jpg" alt="" />
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel9.jpg" alt="" />
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="images/carrousel10.jpg" alt="" />
      </div>
    </div>
  </div>
</div>