<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
      <div class="container">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img src="images/logo-tonga.png" class="logo" alt="logo de Tonga's Shine Detailing">
          </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">Acerca de nosotros</a></li>
            <li class="nav-item"><a class="nav-link" href="/services">Servicios</a></li>
            <li class="nav-item"><a class="nav-link" href="/gallery">Galería</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contacto</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse --> 
    </nav>
    <!-- End Navigation -->
  </header>
  <!-- End Main Top -->